<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BotApiKey" value="1455388525:AAFUYfepGnFmz7S6ar2vty0xgtVXYmm6c1g" />
    <add key="BotName" value="@Newtesc_bot" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
