<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BotApiKey" value="5805736561:AAE9HZXb9JOdfZVD0u1bSFD4Noo53lB1ibc"/>
    <add key="BotName" value="ErickHouse_bot"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
